#mydiv1 {
    position: absolute;
}

#mydiv2 {
    position: absolute;
    text-align: center;
}

#mydivheader:active {
    cursor: grabbing;
}

#mydivheader {
    text-align: center;
    height: 30px;
    width: 90px;
    cursor: grab;
    padding: 30px 30px;
    background-color: #a4b4c1;
    color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}
